body{
    color: white;
    background-color: #161616;
}

/* nav section starts here */

nav{font-size: 19px;}

a {
    text-decoration: none;          
    color: white;
}


/* nav section ends here */

.guide{
    padding: 75px 0px 150px;}

.career-guidance{
    background-image: url(https://hashinclude.info/carrer-page-bg.f90597aae995a987.svg);
    background-repeat: no-repeat;

}
.container-fluid.col-9{
    background-color: #212121;
}

/* .question div.profile{
    padding:2px;
    background-color: #d2e6e4;
    border-radius: 50%;
    width:50px;
    height:35px;
    color:black;
} */

.answer{
    margin-left:70px;
    margin-bottom: 10px;
}
.answer p{
    /* margin:0px */
    padding:10px 30px 5px;
    border-left: green;
    border-width: 2px;
}






.footer {
    background-image: url(https://hashinclude.info/footer-bg.cc00989cacc2122a.svg);
    background-size: cover;
    /* width:1500px; */
    color: #0b7077;
    padding: 7% 7% 5%;
    margin:60px 0px 0px;

}